<div class="padding42">
  <div class="outside-padding">
    <img src="https://cdn.icon-icons.com/icons2/193/PNG/256/Yoda02_23226.png" alt="Yoda" style="width:50px;height:60px;"/>
      <h1>Yoda Translator</h1>
        <p>Using the Yoda translator API</p>
        <br>
      {{outlet}}
  </div>
</div>
